<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text=""
      color="secondary"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Números Ganadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="../../../assets/winner.png" />
    <ion-card-header>
      <ion-icon slot="end" name="ribbon-outline"></ion-icon>
      <ion-card-title>GANADORES</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item >
        <ion-label>1er PREMIO </ion-label>
        <ion-label slot="end">18</ion-label>
      </ion-item>
      <ion-item >
        <ion-label>2do PREMIO </ion-label>
        <ion-label slot="end">97</ion-label>
      </ion-item>
      <ion-item >
        <ion-label>3er PREMIO </ion-label>
        <ion-label slot="end">01</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

