ion-badge {
  --background: #5260ff;
  --color: white;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}


ion-row{
  padding-top: 2rem;
}

.selected{
  --background: green;
}

ion-footer{
  --color: white;
}
