<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text=""
      color="secondary"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Ticket info.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="warning">PENDIENTE</ion-card-subtitle>
      <!-- <ion-card-subtitle color="secondary">EN JUEGO</ion-card-subtitle>
      <ion-card-subtitle color="success">GANADO</ion-card-subtitle>
      <ion-card-subtitle color="danger">PERDIDO</ion-card-subtitle> -->
      <ion-card-title>SORTEO 123</ion-card-title>
      <ion-card-subtitle>Creador: ckomalram123</ion-card-subtitle>
      <ion-card-subtitle>Fecha reserva: {{ sorteoService.dataTicket.fechacreado}}</ion-card-subtitle>
      <ion-card-subtitle>Fecha confirmado: {{ sorteoService.dataTicket.fechacreado}}</ion-card-subtitle>
      <!-- <ion-card-subtitle>Fecha pagado: {{ sorteoService.dataTicket.fechacreado}}</ion-card-subtitle> -->
      <ion-card-subtitle>Ticket # {{ sorteoService.dataTicket.ticket}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item *ngFor="let item of sorteoService.dataTicket.numbers">
        <ion-label>{{item.value | number:'2.0-0'}}</ion-label>
        <ion-label slot="end">{{ item.quantity }}</ion-label>
      </ion-item>

      <ion-item >
        <ion-label>Total: </ion-label>
        <ion-label slot="end">$ 4.75</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="info" >
    <p class="text-center">
      Pendiente: Significa que usted no ha pagado o que el propietario del sorteo no ha confirmado su pago. Debe contactarse con él para validar el ticket.
     </p>
     <p>
      En juego: Significa que su ticket ya esta confirmado y esta en juego para elo sorteo.
     </p>
     <p>
      Ganado: Significa que su ticket ha ganado algún premio del sorteo.
    </p>
    <p>
      Perdido: Significa que su ticket no ha ganado ningún premio del sorteo.
    </p>
  </div>
</ion-content>

