<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-item>
      <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
    />

      <ion-label>
        <p>v1.0.0</p>
        <p>Carlyle Komalram</p>
        <p>glaw14@gmail.com</p>
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h3>modificar perfil</h3>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h3>cambiar contraseña</h3>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h3>Preguntas Frecuentes</h3>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h3>Invitar Amigos</h3>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" detail-icon="caret-forward-outline">
    <ion-label>
      <h3>Cerrar Sesión</h3>
    </ion-label>
  </ion-item>

</ion-content>

