@import "/src/theme/variables.scss";
ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

ion-item:not(.info-item) {
  --background: #5260ff;
  // --background: #19422d;
  --color: #fff;

  --border-color: #fff;
  --border-style: dashed;
  --border-width: 2px;

  --border-radius: 20px;

  --ripple-color: #5260ff;

  --detail-icon-color: white;
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 20px;
}
ion-label {
  p {
    color: #fff;
  }
}

img {
  border-radius: 1rem;
}

.info {
  text-align: justify;
  padding-top: 0.1rem;
  font-size: 1rem;
  margin: 1.5rem;
}

ion-modal {
  --height: 30%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  // --background: rgb(14 116 144);
  --background: #6a64ff;
  --color: white;
}
